<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <div class="nav">
        <a href="#" class="btn-menu">
            <img src="/images/btn-menu.png" height="35" alt="Menu">
        </a>
    </div>
    <div class="menu">
        <div class="menu_photo">
            <p><img src="/images/user.png" alt="Me"></p>
            <strong>Raphael Amorim</strong><br>
            Titulo Einstein
        </div>
        <div class="menu_option">
            <ul>
                <a href="/play"><li>Jogar</li></a>
                <a href="/create"><li>Criar</li></a>
                <a href="/ranking"><li>Ranking</li></a>
                <a href="/colas"><li>Colas</li></a>
                <br>
                <a href="/config"><li>Configurações</li></a>
                <a href="/updates"><li>Atualizações</li></a>
            </ul>

        </div>

    </div>


  </body>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/app.js"></script>
</html>
